<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<form class="form-horizontal" action="{% url 'hotel_update' hotel.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<fieldset>

<!-- Form Name -->
<legend style="text-align: center;">Update</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_id">Hotel Name</label>  
  <div class="col-md-4">
  <input id="product_id" name="hotel_name" class="form-control input-md" required="Please enter room name" type="text" value=" {{hotel.hotel_name}}">
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="product_id">Hotel Type</label>  
  <div class="col-md-4">
    <select id="product_id" name="hotel_category"  class="form-control input-md" >
      <option >{{hotel.categories}}</option>
      <option>5 Star</option>
      <option>4 Star</option>
      <option>3 Star</option>
    </select>

  <!-- <input id="product_id" name="room_name" placeholder="Room Name" class="form-control input-md" required="Please enter room name" type="text">
     -->
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_name">Hotel Location</label>  
  <div class="col-md-4">
  <input id="product_name" name="hotel_location" placeholder="Room Price" class="form-control input-md" required="" type="text" value="{{hotel.location}}">
    
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="product_name">Hotel Contact</label>  
  <div class="col-md-4">
  <input id="product_name" name="hotel_contact" placeholder="Room Price" class="form-control input-md" required="" type="text" value="{{hotel.contact}}">
    
  </div>
</div>
<!-- Textarea -->
<!-- <div class="form-group">
  <label class="col-md-4 control-label" for="product_name_fr">Hotel Features</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="product_name_fr" name="room_feature" value=""></textarea>
  </div>
</div> -->
    <!-- Textarea -->
<div class="form-group">
    <label class="col-md-4 control-label" for="product_name_fr">Hotel description</label>
    <div class="col-md-4">                     
      <textarea class="form-control" id="myTextarea" name="hotel_description" value="{{hotel.description}}"></textarea>
    </div>
  </div>
 <!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">main_image</label>
  <div class="col-md-4">
    <input id="filebutton" name="image1" class="input-file" type="file">
  </div>
</div>
<!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">auxiliary_images</label>
  <div class="col-md-4">
    <input id="filebutton" name="image2" class="input-file" type="file">
    <input id="filebutton" name="image3" class="input-file" type="file">
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary"> Update </button>
  </div>
  </div>

</fieldset>
</form>
<script>
   document.getElementById("myTextarea").value = "{{hotel.description}}";
</script>