{% load static %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!-- feature icons -->
<link rel="stylesheet" href="{% static 'hotel/room_add/fontello/css/fontello.css' %}">
<link rel="stylesheet" href="{% static 'hotel/room_add/fontello/css/icon_set_1.css' %}">
<link rel="stylesheet" href="{% static 'hotel/room_add/fontello/css/icon_set_2.css' %}">
<!-- /end feature icon -->
<form class="form-horizontal" action="{% url 'hotel_update' hotel.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<fieldset>

<!-- Form Name -->
<legend style="text-align: center;">Update</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_id">Hotel Name</label>  
  <div class="col-md-4">
  <input id="product_id" name="hotel_name" class="form-control input-md" required="Please enter room name" type="text" value=" {{hotel.hotel_name}}">
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="product_id">Hotel Type</label>  
  <div class="col-md-4">
    <select id="product_id" name="hotel_category"  class="form-control input-md" >
      <option >{{hotel.categories}}</option>
      <option>5 Star</option>
      <option>4 Star</option>
      <option>3 Star</option>
    </select>

  <!-- <input id="product_id" name="room_name" placeholder="Room Name" class="form-control input-md" required="Please enter room name" type="text">
     -->
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_name">Hotel Location</label>  
  <div class="col-md-4">
  <input id="product_name" name="hotel_location" placeholder="Room Price" class="form-control input-md" required="" type="text" value="{{hotel.location}}">
    
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="product_name">Hotel Contact</label>  
  <div class="col-md-4">
  <input id="product_name" name="hotel_contact" placeholder="Room Price" class="form-control input-md" required="" type="text" value="{{hotel.contact}}">
    
  </div>
</div>
<!-- Textarea -->
<!-- <div class="form-group">
  <label class="col-md-4 control-label" for="product_name_fr">Hotel Features</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="product_name_fr" name="room_feature" value=""></textarea>
  </div>
</div> -->
    <!-- Textarea -->
<div class="form-group">
    <label class="col-md-4 control-label" for="product_name_fr">Hotel description</label>
    <div class="col-md-4">                     
      <textarea class="form-control" id="myTextarea" name="hotel_description" value="{{hotel.description}}"></textarea>
    </div>
  </div>
  
  <!-- hotel features -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="product_name_fr">FEATURES </label>
    <div class="col-md-4">
      <input id="product_name_fr" name="features"  value="Free_wifi" class=" input-md" type="checkbox" {%if hotel_feature.Free_wifi %} checked {%endif%}><label for=""><i class="icon_set_1_icon-86"></i>Free Wifi</label>
        <input id="product_name_fr" name="features" value="Loundry_service" class=" input-md" type="checkbox" {%if hotel_feature.Loundry_service %} checked {%endif%}><label for=""><i class="icon_set_2_icon-103"></i>Loundry service</label>
        <input id="product_name_fr" name="features" value="Swimming_pool" class=" input-md" type="checkbox" {%if hotel_feature.Swimming_pool %} checked {%endif%}><label for=""><i class="icon_set_2_icon-110"></i>Swimming pool</label>
        <input id="product_name_fr" name="features" value="Restaurant" class=" input-md" type="checkbox" {%if hotel_feature.Restaurant %} checked {%endif%}><label for=""><i class="icon_set_1_icon-58"></i>Restaurant</label>
        <input id="product_name_fr" name="features" value="Parking" class=" input-md" type="checkbox" {%if hotel_feature.Parking %} checked {%endif%}><label for=""><i class="icon_set_1_icon-27"></i>Parking</label>


    </div>
  </div>
  <!-- current images -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="filebutton">current_images</label>
    <div class="col-md-4">
      {% for hotel_image in hotel_images %}
      <img src="{{hotel_image.image.url}}" alt="" style="width: 100px;height: 100px;">
      {%endfor%}
    </div>
  </div>
 <!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">main_image</label>
  <div class="col-md-4">
    <img src="" alt="" id="image" style="width: 100px;height: 100px;">
    <input id="main_image" name="image1" class="input-file" type="file">
  </div>
</div>
<!-- File Button --> 
<div class="form-group "  >
  <label class="col-md-4 control-label" for="filebutton">images</label>
  <div class="col-md-4" id="images">
    
    
  </div>
</div>
<div class="form-group " >
  <label class="col-md-4 control-label" for="filebutton"></label>
  <div class="col-md-4">
    
    <input type="button" value="add_image" id="add_image" name="add_image">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary"> Update </button>
  </div>
  </div>

</fieldset>
</form>
<script>

    document.getElementById('main_image').onchange=function(){
      var image=document.getElementById('image')
      if(this.files[0]){
        var fileReader= new FileReader();
        fileReader.onload=function(e){
          image.src=e.target.result;
        };
        fileReader.readAsDataURL(this.files[0])
      }
    }

      document.getElementById('add_image').onclick=function(){
      var image=document.getElementById('images');

      var preview=document.createElement('img')
      preview.style.width="100px";
      preview.style.height='100px';

      
      var newinput = document.createElement("input")
      newinput.type="file";
      newinput.name="file[]";

      var br =document.createElement("br");


      newinput.onchange=function(){
        if(this.files[0]){
          var fileReader = new FileReader();

          fileReader.onload=function(ev2){
            preview.src=ev2.target.result;

          };

          fileReader.readAsDataURL(this.files[0])

        }
      }      

      image.appendChild(preview)
      image.appendChild(br)
      image.appendChild(newinput);
      




  }
</script>

<script>
   document.getElementById("myTextarea").value = "{{hotel.description}}";
</script>