/*Import the fonts used*/
@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');
/*Basic reset*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Custom properties*/
:root {
    --dark-color: #2d2c2c;
    --purple-solid: #350a4f;
    --purple-transparent: rgba(53, 10, 79, .7);
    --purple-transparent-alt: rgba(53, 10, 79, .5);
    --purple-light: #8f50fb;
    --yellow-solid: #fa9e2c;
    --gradient-color: linear-gradient(to right, var(--yellow-solid), var(--purple-light));
    --gradient-color-alt: linear-gradient(to right, var(--purple-light), var(--yellow-solid));
}

/* global style */

html{
    font-size: 10px;
}
body{
    font-family: 'Open Sans',sans-serif;
    font-size: 1.6rem;
    color: var(--dark-color);
    
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}

section{
    padding: 5rem 0;
    display: block;
   
}
/* reusable style */
.container{     
    width: 100%;    
    padding: 0 1.5rem;
    margin: 0 auto;
}
.btn{
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: .5rem 3.5rem;
    border: none;
    border-radius: 10rem;
    display: inline-flex;
    align-items: center;
}
.form-btn{
    margin-top: 2.5rem;
    cursor: pointer;
}
.btn-purple{
    background-color: var(--purple-solid);
}
.btn-purple:hover{
    background-color:#56247f;
}
.btn-gradient{
    background-image: var(--gradient-color);

}
.btn-gradient:hover{
    background-image: var(--gradient-color-alt);
    
}
.dots{
    font-size: 2.4rem;
    margin-left: .5rem;
    opacity: .75;

}
.paragraph{
    color: #a5a5a5;
    margin-bottom: 2.5rem;
    }
    
.section-head{
        text-align: center;
        margin-bottom:5rem ;
    
}
.heading{
        display:block;
        font-size:4rem ;
        text-transform: uppercase;
}
.sub-heading{
        font-size: 1.7rem;
        font-weight: 300;
        font-family: 'Courgette',cursive;
        color: #a5a5a5;
    
}

/* header style */
.header{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--purple-transparent);
    z-index: 999;
}
.header .active{
    background-color: var(--purple-solid);
}
/* header style nav */

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    max-width: 80%;

}
.hamburger-menu{
    font-size: 2.6rem;
    color:white;
    cursor: pointer;
    position: relative;
    z-index: 1500;

}

.hamburger-menu .fa-times{
    display: none;

}
.menu-open .hamburger-menu .fa-times{
    display: block;
}
.menu-open .hamburger-menu .fa-bars{
    display: none;
}

.nav-list{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--purple-solid);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1400;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;




}
.menu-open .nav-list{
    opacity: 1;
    transform: scale(1);
}
.nav-item:not(:last-child){
    margin-bottom: .5rem;
}

.nav-link{
    display: block;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem;

}

.hero{
    width: 100%;
    height: 55vh;
    background: url("/static/images/hero_background.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 0;

}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color:var(--purple-transparent-alt);
    z-index: -1;
}
.main-heading{
    color: white;
    line-height: 1;
    text-shadow: 1px 1px 1rem rgba(0,0,0,.5);
    margin-bottom: 2.5rem;

}
.title{
    font-size: 4.8rem;
    text-transform: uppercase;
    letter-spacing: 3px;

}
.subtitle{
    font-size: 3.6rem;
    font-weight: 300;
    font-family: 'Courgette',cursive;

}


/* BOOKING SECTION */
.booking{
    background-image: var(--gradient-color);
    
     

}
.input-group{
    margin-bottom: 1.5rem;
}
.input-label{
    display: block;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin-bottom: 1rem;

}
.input,
.options{
    outline: none;
    border: none;
    width: 100%;
    min-height:4rem ;
    padding: 1rem;
    font-weight: bold;
    color: #a5a5a5;
    letter-spacing: 2px;
    font-family: 'Open Sans',sans-serif;

}


::placeholder{
    color: inherit;
}


/* POPULAR Cities */
.rooms{
    background-color: #f2f6f9;
}
.images-w{
    position: relative;
    height: 25rem;
}

.room-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.room-name{
    font-size: 2.6rem;
    background-color: var(--yellow-solid);
    color:white ;
    padding: .5rem 1.5rem;
    position: absolute;
    left:0;
    bottom: 2.5rem;
    z-index: 10;


}

.room-price{
    display: block;
    font-size: 3.6rem;
    font-weight: bold;
    color: var(--yellow-solid);
}
.per-night{
    color: var(--dark-color);
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: capitalize;
}
.rooms-btn{
    color: var(--dark-color);
    padding: 0;
    transition: color .5s;


}
.rooms-btn:hover{
    color: var(--yellow-solid);
}

.images-w:hover img {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;

   
  }
  







/* featured hotels section styles */



.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    grid-gap: 2.5rem;
}
.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.featured-hotels{
    height: 35rem;
    color: white;
    padding:1rem;
    position: relative;

}
.featured-hotels::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--purple-transparent-alt);
    z-index: -1;



}
.hotel-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.hotel-name{
    font-size: 2.6rem;
}
.hotel-price{
    font-size: 1.8rem;
}
.hotel-rating{
    margin: 1rem 0 2.5rem;
}
.rating{
    color: var(--yellow-solid);
}

.offer{
    background: linear-gradient(to right,rgba(250,158,44,.8),rgba(143,80,251,.8)),
    url("/static/images/the_paradise_bg.jpg") bottom center;
    background-size: cover;
     
}
.offer-content{
    background-color: white;
    text-align: center;
    padding: 5rem 1rem;
    position: relative;
    overflow: hidden;
}
.discount{
  background-color: var(--yellow-solid); 
  position: absolute; 
  top: 0;
  left: 0;
  padding: 1rem;
  font-weight: bold;
  outline: 2px solid var(--yellow-solid);
  outline-offset: .5rem;


}

/* ROOMS luxuries */
.rooms{
    background-color: #f2f6f9;
}
.image-wrap{
    position: relative;
    height: 25rem;
}
.image-wrap::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--purple-transparent-alt);
    

}
.room-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.room-name{
    font-size: 2.6rem;
    background-color: var(--yellow-solid);
    color:white ;
    padding: .5rem 1.5rem;
    position: absolute;
    left:0;
    bottom: 2.5rem;
    z-index: 10;


}

.room-price{
    display: block;
    font-size: 3.6rem;
    font-weight: bold;
    color: var(--yellow-solid);
}
.per-night{
    color: var(--dark-color);
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: capitalize;
}
.rooms-btn{
    color: var(--dark-color);
    padding: 0;
    transition: color .5s;


}
.rooms-btn:hover{
    color: var(--yellow-solid);
}

/* contact section style */
.login_body{
    /* background: url("/static/images/hero_background.jpg") center no-repeat; */

    
    background-size: cover;
}
.contact-content{
    display: block;
    
}
.contact-form{
    width: 50%;
    margin: auto;
    background-image: var(--gradient-color);
    padding: 2.5rem;
    border-radius:1%;

}
.contact-form .input{
    display: block;
    background-color: transparent;
    color: white;
    font-weight: normal;
    border-bottom: 2px solid white;
    padding-left: 0;

}
.contact-form button{
padding:1rem 1rem;

}
.bar{
    display: block;
    position: relative;
}
.bar::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--purple-light);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;


}
.contact-form .input:focus + .bar::after{
    transform: scaleX(1);
}
.mobail-verify{
    display: flex;
}
.btn-mobail{
    color:var(--dark-color);
}

/* footer */
.footer{
    padding:5rem 0 ;
    background-color: var(--purple-solid);
    color: white;
}
.footer-content-brand{
    margin-bottom: 5rem;

}
.footer .paragraph{
    color: white;
}
.footer-heading{
    text-transform: uppercase;
    margin-bottom: 2.5rem;

}
.social-media{
   display: flex; 
}
.sm-link{
    width: 4rem;
    height: 4rem;
    border:2px solid var(--yellow-solid) ;
    border-radius: 50%;
    font-size: 2rem;
    display: flex;
    margin-right: 1rem;
    transition: background-color .5s;

}
.sm-link:hover{
    background-color: var(--yellow-solid);
    color:var(--dark-color)
}
.sm-link i{
    margin: auto;
}

/* Media queries */
@media screen and (min-width:768px){
    .header{
        height: 10rem;
    }
    .header .active{
        height: 6rem;
    }
    .title{
        font-size: 8rem;

    }
    /* contact */
    .contact-content{
        /* justify-content: center; */
    }
    .contact-form{
        /* flex: 0 0 50% ; */
        /* align-self: flex-start; */
    }
    .input-group-wrap{
        /* display: block; */
    }
    /* footer */
    .footer{
        overflow-x: hidden;
    }
    .footer-content{
        display: flex;
        /* justify-content: space-between; */

    }
    .footer-content-brand{
        margin-bottom:0 ;
        flex: 0 0 60%;
    }
    .footer .paragraph{
        margin-top: 2.5rem;

    }
    .footer-heading{
        margin-bottom: 5rem;
    }
    .social-media-wrap{
        flex: 0 0 40%;
        /* margin-left: 2.5rem; */

    }
    @media screen and (min-width:1000px){
         section:not(.booking){
             padding: 10rem 0;
         }

         /* header section */
         .hamburger-menu{
             display: none;

         }
         .nav-list{
             position: initial;
             width: initial;
             height: initial;
             background-color: transparent;
             flex-direction: row;
             justify-content: initial;
             opacity: 1;
             transform: scale(1);



         }
         .nav-item:not(:last-child){
             margin-right: 3rem;
             margin-bottom: 0;

         }
         .nav-link{
             font-size: 1.3rem;
             font-weight: normal;
             transition: color .5s;

         }
         .nav-link:hover{
             color: var(--yellow-solid);
         }

         /* hero section title */

         .title{
             font-size:12rem ;

         }
         .subtitle{
             font-size: 4.6rem;

         }
         /* booking section */
          .book-form{
              display: flex;
              justify-content: space-between;

          }
          .book-form .input-group{
              margin-bottom: 0;

          }
          .book-form .input-group:first-child{
              flex: 0 0 25%;
          }

          .input,
          .options{
           min-width: 10rem;   
          }

    }
    /* rooms section */

    .rooms-grid{
        grid-template-columns: repeat(auto-fit,minmax(40rem,1fr));
        grid-gap: 8rem;
    }
    .featured-rooms{
        flex-direction: row;
        align-items: flex-start;

    }
    .room-info-wrap{
        margin-left: 1.5rem;
    }




}


 /* Dropdown Button */
 .dropbtn {
    /* background-color: var(--purple-solid); */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;} 