{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travelix Admin</title>
     <!-- Icons font CSS-->
     <script src="https://kit.fontawesome.com/ee4534655b.js" crossorigin="anonymous"></script>
     <!-- ajax cdn -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     
     <!-- Font special for pages-->
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
 
    <link rel="stylesheet" href="{%static 'admin/home/css/admin-home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css">
</head>
<body>
    
    <div class='all'>
        <div class='admin-header'>
        <div class='header-text'>
        <h3>TRAVELIX</h3>
        <div class='header-greet' style="margin: 25px; color: black;">
        <span>Hello Admin</span>
        <a href='{% url "admin_logout" %}' ><i class="fa fa-power-off" aria-hidden="true"></i></a>
        </div>
        </div>
        </div>
        <div class='admin-sidebar'>
        <li>
        <a href='{%url "admin_home" %}' style="color: white;">HOME</a>
        </li>
        
       
       
        <li class="accordion"><a style="color: white;">HOTELS</a> <svg width="8" height="8" viewBox="0 0 24 24"><path fill="#fff" d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg></li>
        <div class="panel" style="color: white;">
        <li class="submenu"><a href='{% url "hotel_view" %}' class="submenutext" >Show all Hotels</a></li>
        <li class="submenu"><a href='{% url "create_hotel" %}' class="submenutext">Add Hotel</a></li>
       
        </div>
      
        <li>
        <a href='{%url "user_view" %}' style="color: white;">USERS</a>
        </li>
        <li>
            <a href='{%url "refoffer" %}' style="color: white;">OFFER</a>
            </li>
            <li>
                <a href='{%url "vip" %}' style="color: white;">VIP</a>
            </li>
        </div>
        <div class='center-content'>
        <div class='all-border'>
        
        
        {%block content %}
        
        {%endblock%}
    </div>
    </div>
</div>
    <script src="{% static 'admin/home/js/admin_home.js' %}"></script>

</body>
</html>