{% extends 'admin/adminbase.html' %}
{% load static %}

{% block content %}
<div class='location-text' >
  <span class='location' style="font-weight: bold;" >HOME</span>
</div>

</div>
<div class="p-6 container ">
  <div class="grid grid-cols-2 gap-4 md:grid md:grid-cols-3 lg:grid lg:grid-cols-3">
    <div class="p-4 border border-gray-400 shadow-md bg-white">
      <div class="text-sm font-thin text-gray-800">TOTAL HOTELS</div>
      <div class="text-xl font-semibold truncate leading-none lg:text-3xl mt-2 mb-4 text-gray-800 group-hover:text-gray-100">{{hotels}}</div>
      <!-- <div class="relative mt-2">
        <div class="bg-gray-300 h-2 rounded-full"></div>
        <div class="absolute top-0 w-1/6 bg-indigo-600 h-full rounded-lg"></div>
      </div>
      <div class="flex justify-between">
        <div class="text-xs text-right text-gray-400">14%</div>
        <div class="text-xs text-right text-gray-400">$25,000</div>
      </div> -->
    </div>
    <div class="p-4 shadow bg-indigo-700">
      <div class="text-sm font-light text-indigo-100">TOTAL BOOKING</div>
      <div class="text-xl font-semibold leading-none lg:text-3xl my-2 text-indigo-100">{{booking}}</div>
      <!-- <div class="relative mt-2">
        <div class="bg-gray-300 h-2 rounded-full"></div>
        <div class="absolute top-0 w-8/12 bg-indigo-900 h-full rounded-lg"></div>
      </div>
      <div class="flex justify-between text-indigo-300">
        <div class="text-xs text-right">78%</div>
        <div class="text-xs text-right">$25,000</div>
      </div> -->
    </div>
    <div class="p-4 border-1 border-gray-400 shadow bg-red-500">
      <div class="text-sm font-light text-indigo-100">USERS</div>
      <div class="text-xl font-semibold leading-none lg:text-3xl mt-2 mb-4 text-indigo-100">{{customer}}</div>
      <!-- <div class="relative mt-2">
        <div class="bg-gray-300 h-2 rounded-full"></div>
        <div class="absolute top-0 w-8/12 bg-red-700 h-full rounded-lg"></div>
      </div>
      <div class="flex justify-between text-red-100">
        <div class="text-xs text-right">78%</div>
        <div class="text-xs text-right">$25,000</div>
      </div> -->
    </div>
    <!-- <div class="p-4 shadow bg-gray-900 text-gray-100 md:col-span-3 lg:col-span-1">
      <div class="text-sm font-light text-gray-200">Today's Orders</div>
      <div class="text-xl font-semibold leading-none lg:text-3xl mt-2 mb-4 text-gray-100">$1420</div>
      <div class="relative mt-2">
        <div class="bg-gray-100 h-2 rounded-full"></div>
        <div class="absolute top-0 w-1/6 bg-gray-700 h-full rounded-lg"></div>
      </div>
      <div class="flex justify-between">
        <div class="text-xs text-right text-gray-500">14%</div>
        <div class="text-xs text-right text-gray-500">$25,000</div>
      </div>
    </div> -->
  </div>
  
  
  </div>
  <div class='location-text' >
    <span class='location' style="font-weight: bold;" >HOTELS</span>
  </div>
  <div class="p-6 container ">
    <div class="grid grid-cols-2 gap-4 md:grid md:grid-cols-3 lg:grid lg:grid-cols-4">
      <div class="p-4 border border-gray-400 shadow-md bg-white">
        <div class="text-sm font-thin text-blue-700">HOTELS IN GOA</div>
        <div class="text-xl font-semibold truncate leading-none lg:text-3xl mt-2 mb-4 text-gray-800 group-hover:text-gray-100">{{goa}}</div>
        <!-- <div class="relative mt-2">
          <div class="bg-gray-300 h-2 rounded-full"></div>
          <div class="absolute top-0 w-1/6 bg-indigo-600 h-full rounded-lg"></div>
        </div>
        <div class="flex justify-between">
          <div class="text-xs text-right text-gray-400">14%</div>
          <div class="text-xs text-right text-gray-400">$25,000</div>
        </div> -->
      </div>
      <div class="p-4 shadow bg-indigo-700">
        <div class="text-sm font-light text-indigo-100">HOTELS IN BENGALURE</div>
        <div class="text-xl font-semibold leading-none lg:text-3xl my-2 text-indigo-100">{{beng}}</div>
        <!-- <div class="relative mt-2">
          <div class="bg-gray-300 h-2 rounded-full"></div>
          <div class="absolute top-0 w-8/12 bg-indigo-900 h-full rounded-lg"></div>
        </div>
        <div class="flex justify-between text-indigo-300">
          <div class="text-xs text-right">78%</div>
          <div class="text-xs text-right">$25,000</div>
        </div> -->
      </div>
      <div class="p-4 border-1 border-gray-400 shadow bg-red-500">
        <div class="text-sm font-light text-indigo-100">HOTELS IN MUMBAI</div>
        <div class="text-xl font-semibold leading-none lg:text-3xl mt-2 mb-4 text-indigo-100">{{mumbai}}</div>
        <!-- <div class="relative mt-2">
          <div class="bg-gray-300 h-2 rounded-full"></div>
          <div class="absolute top-0 w-8/12 bg-red-700 h-full rounded-lg"></div>
        </div>
        <div class="flex justify-between text-red-100">
          <div class="text-xs text-right">78%</div>
          <div class="text-xs text-right">$25,000</div>
        </div> -->
      </div>
      <div class="p-4 shadow bg-gray-900 text-gray-100 md:col-span-3 lg:col-span-1">
        <div class="text-sm font-light text-gray-200">HOTELS IN KOCHI</div>
        <div class="text-xl font-semibold leading-none lg:text-3xl mt-2 mb-4 text-gray-100">{{kochi}}</div>
        
      </div>
    </div>
{%endblock%}