{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'admin/login/css/main.css' %}">
</head>
<body>
    
    <div class="card">
        <h2>Log-In Account</h2>
       
       <form action="{% url 'admin_login' %}" method="POST" >
        {% csrf_token %}
        <div class="input-border">
         <input type="text" class="text" name="username" required>
         <label>Name</label>
         <div class="border"></div>
        </div>
        
        <div class="input-border">
         <input type="password" class="text" name="password" required>
         <label>Password</label>
         <div class="border"></div>
        </div>
        
        <input  type="submit" class="btn" value="Log In">
        {%for message in messages %}
                <p style="color: red;">{{message}}</p>
        {%endfor%}
       </form>
        
       </div>

      
</body>
</html>
