
        body {
font-family: 'Open Sans', sans-serif;
minwidth: 100%;
height: 100%;
margin: 0 auto;
background: #f2f2f2;
}
.admin-sidebar {
background: #1a1a1a;
width: 175px;
height: 100%;
position: fixed;
z-index: -1;
overflow-x: hidden;
padding-top: 20px;
z-index: 1000;
top:30px;
text-align: right;
}
.admin-header {
background: #1a1a1a;
padding: 15px 16px 15px 0px;
height: 20px;
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 2000;
}
.header-greet {
display: inline-block;
float: right;
}
h3 {
margin: 0;
display: inline-block;
color: #fff;
}
.header-text {
color: #fff;
padding-left: 16px;
}
.logout-btn {
padding: 18px 16px;
color: #fff;
background: #4444;
box-shadow: 0px 0px 4px rgba(0,0,0) inset;
}
li {
list-style-type: none;
padding: 15px;
border-bottom: 0.5px solid black;
cursor: pointer;
}
li:hover {
list-style-type: none;
padding: 15px;
background: #151515;
border-bottom: 0.5px solid black;
box-shadow: 0px 0px 4px rgba(0,0,0) inset;
}
.submenu{
background: #1c1c1c;
}
.submenutext{
margin-right: 25px;
}
a {
text-decoration: none;
color: #fff;
}
.search-input {
padding: 8px;
border: 1px solid black;
border-radius: 4px 0px 0px 4px;
background: #222;
color: #fff;
outline: none;
box-shadow: 0px 0px 3px rgba(0,0,0) inset;
}
#search-btn-1 {
position: absolute;
padding: 7.5px;
border: 1px solid black;
border-radius: 0px 4px 4px 0px;
background: #222;
color: #fff;
outline: none;
box-shadow: 0px 0px 3px rgba(0,0,0) inset;
}
.fa-angle-down {
color: #fff;
float: right;
}
.second-nav-ul {
display: none;
}
.nav-items {
padding: 0;
margin: 0;
float: left;
}
.nav-items:hover {
padding: 0;
margin: 0;
width: auto;
}
.center-content {
width: auto;
padding-left: 175px;
z-index: -1000;
padding-top: 30px;
margin: 20px;
}
/*DASHBOARD CONTENT ENDING*/
.all-border {
border: 1px solid trans;
width: auto;
}
.shows-location {
border: 1px solid transparent;
width: auto;
height: 50px;
margin: 1em;
border-radius: 5px;
background: rgba(0, 0, 0, 0.9);
color: white;
}
.location {
font-size: 12px;
display: inline-block;
margin: 0;
vertical-align: middle;
padding: 20px 30px;
}
.location-text {
display: inline-block;
margin: 0;
}
a {
color: #fff;
text-decoration: none;
font-size: 12px;
}
div.panel {
display: none;
}
div.panel.show {
display: block !important;
}
@media screen and (max-width: 640px) {
.admin-sidebar {
width: 100%;
height: 100%;
position: relative;
top:0px;
text-align: center;
}
.admin-header {
background: #101010;
position: relative;
padding: 15px 0px;
}
.center-content {
width: 100%;
padding: 0px;
margin: 0px;
}
.all-border {
border: 0px;
width: 100%;
padding: 5px;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
-ms-box-sizing:border-box;
}
}
