
.heading{
    display:block;
    text-transform: uppercase;
    text-align: center;
    padding-top: 2rem;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  * 
  {
      margin: 0;
      padding: 0;
      font-family: "Poppins", sans-serif;
    }
    
    .hero {
      height: 100vh;
      width: 100%;
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/static/images/login_bakground.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
    }
    
    .form-box {
      width: 380px;
      height: 480px;
      position: relative;
      margin: 6% auto;
      background: #fff;
      padding: 5px;
      overflow: hidden;
    }
    
    .button-box {
      width: 220px;
      margin: 35px auto;
      position: relative;
      box-shadow: 0 0 20px 9px #4a3b54;
      border-radius: 30px;
    }
    
    .toggle-btn {
      padding: 10px 30px;
      cursor: pointer;
      background: transparent;
      border: 0;
      outline: none;
      position: relative;
    }
    
    #btn {
      top: 0;
      left: 0;
      position: absolute;
      width: 110px;
      height: 100%;
      background: linear-gradient(to right, #46588c, #d46e75);
      border-radius: 30px;
      transition: 0.5s;
    }
    
    .social-icons {
      margin: 30px auto;
      text-align: center;
    }
    
    .social-icons img {
      width: 30px;
      margin: 0 12px;
    }
    
    .input-group {
      top: 180px;
      position: absolute;
      width: 280px;
      transition: 0.5s;
    }
    
    .input-field {
      width: 100%;
      padding: 10px 0;
      margin: 5px 0;
      border-left: 0;
      border-top: 0;
      border-right: 0;
      border-bottom: 1px solid #999;
      outline: none;
      background: transparent;
    }
    
    .submit-btn {
      width: 85%;
     
      padding: 10px 30px;
      cursor: pointer;
      display: block;
      margin: auto;
      background: linear-gradient(to right, #46588c, #d46e75);
      border: 0;
      outline: none;
      border-radius: 30px;
    }
    
    .check-box {
      margin: 30px 10px 30px 0;
    }
    
    span {
      color: #777;
      font-size: 12px;
      bottom: 68px;
      position: absolute;
    }
    
    #login {
      left: 50px;
    }
    
    #register {
      left: 450px;
    }
  
  /* social media icons */
  
  
    .social-media{
      display: flex; 
    padding-left:4rem ;
    }
  
    .sm-link{
      width: 4rem;
      height: 4rem;
      border:2px solid var(--yellow-solid) ;
      border-radius: 50%;
      font-size: 2rem;
      display: flex;
      margin-right: 1rem;
      transition: background-color .5s;
  
  }
  
  
  .sm-link:hover{
      background-color: var(--yellow-solid);
      color:var(--dark-color)
  }
  .sm-link i{
      margin: auto;
  }
  