
{% extends 'user/base.html' %}
{% load static %}
{% block content%}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>

.clickable {
     cursor: pointer;
     }
    /* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {

top:80%;
bottom: 0;
left: 0;
right: 0;

position: fixed;

width: 50%;
height: 50%;
background: rgba(0,0,0,.7);

opacity: 0;
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
z-index: 6;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {

/* position: absolute; */
top: 5rem;
left:0;
right:0;
bottom: 0;
max-height: 0%;
max-width: 0%;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
box-sizing: border-box;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
display: block;
width:50px;
height:50px;
box-sizing: border-box;
background: white;
color: black;
text-decoration: none;
position: absolute;
top: -80px;
right: 0;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
opacity: 1;
top: 197px;
bottom: 0;
left: 0;

}

.lightbox-target:target img {
max-height: 100%;
max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
top: 0px;
}



</style>
    <!-- Favicons-->
    <link rel="shortcut icon" href="{% static 'user/hotel_view/img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'user/hotel_view/img/apple-touch-icon-57x57-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static 'user/hotel_view/img/apple-touch-icon-72x72-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static 'user/hotel_view/img/apple-touch-icon-114x114-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'user/hotel_view/img/apple-touch-icon-144x144-precomposed.png' %}">

    <!-- BASE CSS -->
    <link href="{% static 'user/hotel_view/css/base.css' %}" rel="stylesheet">
    
    <!-- SPECIFIC CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'user/hotel_view/css/DateTimePicker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'user/hotel_view/css/owl.carousel.css' %}">
    
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

    <!-- End Header =============================================== -->
    
	<!-- SubHeader =============================================== -->
    <div class="parallax-window" id="booking" data-parallax="scroll" style="background: url('{{hotel.imageURL}}') center no-repeat ;"  data-natural-width="1400" data-natural-height="550">
        
    </div><!-- End parallax-window -->
    <!-- End SubHeader ============================================ -->
            
    <div class="container margin_60_35">
        <h1 class="main_title"><em></em>Welcome to {{hotel.hotel_name}}<span>Hotel and Bed&amp;Breakfast</span></h1>
        <p class="lead styled">
           {{hotel.description}}
        </p>
        <!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
      {%for images in hotel.hotel_image_set.all %}
      {% if forloop.first %}
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100" src="{{images.image.url}}" alt="First slide">
        <div class="mask rgba-black-light"></div>
      </div>
     
    </div>
    {%else%}
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="{{images.image.url}}">
        <div class="mask rgba-black-light"></div>
      </div>
     
    </div>
    {%endif%}
    {%endfor%}
 
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
        <!-- <div class="row">
            <div class="col-sm-6">
                <div class="mosaic_container">
                    <img src="static/user/hotel_view/img/mosaic_1.jpg" alt="" class="img-responsive add_bottom_30"><span class="caption_2">Nice Outdoor</span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-xs-12">
                    <div class="mosaic_container">
                        <img src="static/user/hotel_view/img/mosaic_2.jpg" alt="" class="img-responsive add_bottom_30"><span class="caption_2">Large Bedroom</span>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="mosaic_container">
                        <img src="static/user/hotel_view/img/mosaic_3.jpg" alt="" class="img-responsive add_bottom_30"><span class="caption_2">Modern Bathroom</span>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="mosaic_container">
                        <img src="static/user/hotel_view/img/mosaic_4.jpg" alt="" class="img-responsive add_bottom_30"><span class="caption_2">Wellness</span>
                    </div>
                </div>
            </div>
        </div>End row -->
    </div><!-- End container -->
    <div id="subheader">
        <h1 style="text-align: center;">Our Wonderfull Rooms</h1>
</div><!-- End subheader -->
    <div class="container margin_60">
    	<div class="row">
 			<div class="col-lg-9 col-md-8">
                 {%for room in rooms %}
            	<div class="row">
                
                	<div class="room_desc clearfix" >
                        {%for images in room.room_image_set.all %}
                        {%if forloop.first%}
                    <div class="col-md-7" style="height: 100%;" >
                        
                        <div class="main col-md-12 " style="height:60%;">
                            <a href="#{{images.id}}" class="lightbox">
                            <img src="{{images.image.url}}" style="width: 100%; height: 100%;" alt="" class="img-responsive"></a>
                            <div class="lightbox-target" id="{{images.id}}">
                                <img src="{{images.image.url}}" style="width: 100%; height: 100%;"/>
                                <a class="lightbox-close" href="#"></a>
                             </div>
                        </div>
                        {%else%}
                         <div class="col-xs-3 pt-2">
                            <a href="#{{images.id}}" >
                            <img src="{{images.image.url}}" style="width: 100%; height: 100%;" alt="" class="img-responsive"></a>
                            <div class="lightbox-target" id="{{images.id}}">
                                <img src="{{images.image.url}}" style="width: 100%; height: 100%;"/>
                                <a class="lightbox-close" href="#"></a>
                             </div>
                        </div>
                        {%endif%}
                        {%endfor%}
                                    

                    </div>
                    {%for room_features in room.room_features_set.all %}
                    <div class="col-md-5 room_list_desc">
                        <h3>{{room.room_type}}</h3>
                        <p>{{room.sleeps}} Bed</p>
                        <ul>
                            
                            {% if room_features.king_size_bed == True %}
                        	<li>
                            <div class="tooltip_styled tooltip-effect-4">
                            	<span class="tooltip-item"><i class="icon_set_2_icon-104"></i></span>
                                	<div class="tooltip-content">King size bed</div>
                            </div>
                              </li>
                           
                              {%endif%}
                              {% if room_features.Bath_Tube == True %}
                            <li>
                            <div class="tooltip_styled tooltip-effect-4">
                            	<span class="tooltip-item"><i class="icon_set_2_icon-118"></i></span>
                                	<div class="tooltip-content">Shower</div>
                              </div>
                              </li>
                              {%endif%}
                              {% if room_features.TV == True %}
                            <li>
                            <div class="tooltip_styled tooltip-effect-4">
                            	<span class="tooltip-item"><i class="icon_set_2_icon-116"></i></span>
                                	<div class="tooltip-content">Plasma TV</div>
                              </div>
                              </li>
                              {%endif%}
                              {% if room_features.Safe_box == True %}
                              <li>

                              <div class="tooltip_styled tooltip-effect-4">
                            	<span class="tooltip-item"><i class="icon_set_2_icon-106"></i></span>
                                	<div class="tooltip-content">Safe box</div>
                              </div>
                              </li>
                              {%endif%}
                              {% if room_features.Welcome_bottle == True %}
                              <li>
                                <div class="tooltip_styled tooltip-effect-4">
                                  <span class="tooltip-item"><i class="icon_set_1_icon-15"></i></span>
                                      <div class="tooltip-content">Welcome bottle</div>
                                </div>
                                </li>
                                {%endif%}
                                {% if room_features.Bath_Tube == True %}
                                <li>
                                    <div class="tooltip_styled tooltip-effect-4">
                                      <span class="tooltip-item"><i class="icon_set_2_icon-111"></i></span>
                                          <div class="tooltip-content">Bath Tube</div>
                                    </div>
                                    </li>
                                    {%endif%}
                                    
                        </ul>
                        <div class="price">from <strong class="priceroom">{{room.room_price}}</strong> /night<small>{% if room_features.Breakfast == True %}Breakafst {%endif%}{% if room_features.Lunch == True %} Lunch{%endif%}{% if room_features.Dinner == True %} Dinner {%endif%} included</small></div>
                        <div class="form-group selectroomdiv" style="display: none;" id="selectroomdiv">
                        
                            <h3 for="sel1">Select Room:</h3>
                            
                            <select class="form-control roomselect " id="sel1" data-roomid="{{room.id}}" data-roomprice='{{room.room_price}}' data-hotelid="{{hotel.id}}">
                                {% for r in roombooked %}
                                {% if r.room == room %}
                                <option value="{{r.quantity}}">{{r.quantity}}</option>{% endif %} {% endfor %}
                                <option value=0>0</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                            </select>
                        </div> 
                    </div>
                    {%endfor%}
                    </div>
                </div>{%endfor%}<!-- End row room -->  
               
                
            </div>
            <div class="col-lg-3 col-md-4 sidebar">
     		
            <div class="theiaStickySidebar">
            <div class="box_style_3" id="general_facilities">
				<h3>General facilities</h3>
				<ul>
                    {% for feature in hotel.features_set.all %}
                    {% if feature.Free_wifi == True %}
                    <li><i class="icon_set_1_icon-86"></i>Free Wifi</li>{%endif%}
                    {% if feature.Loundry_service == True %}
                    <li><i class="icon_set_2_icon-103"></i>Loundry service</li>{%endif%}
                    {%if feature.Swimming_pool == True %}
                    <li><i class="icon_set_2_icon-110"></i>Swimming pool</li>{%endif%}
                    {%if feature.Restaurant == True %}
                    <li><i class="icon_set_1_icon-58"></i>Restaurant</li>{%endif%}
                    {% if feature.Parking == True %}
					<li><i class="icon_set_1_icon-27"></i>Parking</li>{%endif%}{%endfor%}
				</ul>
			</div>
			<div class=" ">
                <div>
                    <h2>BOOKING INFO</h2>
                  </div>
                  
                  <div class="mes alert alert-info" id="message" style="display: none;">
                    <strong>Info!</strong><span id="messageinput"> </span>
                  </div>
                  {% if error %}
                  <div class="alert alert-info"  >
                    <strong>Info!</strong><span >{{error}} </span>
                  </div>
                   {%endif%}

                  
                <form method="POST" action="{%url 'booking' hotel.id %}" >
                      {%csrf_token%}
                    <input type="hidden" data-form-email="true">
                    <div class="form-group">
                        <input type="text" id="checkin" value="{{checkin}}" name="checkin" placeholder="checkin" readonly >
                       
                    </div>
                    <div class="form-group">
                        
                        <input type="text" id="checkout" name="checkout" value="{{checkout}}" placeholder="checkout" readonly>
                        
                    </div>
                    <div class="form-group">
                       <label  for="">Adults </label>
                        <div class="qty-buttons"  style="align-content: center;">
                            <input type="button" value="-" class="qtyminus" name="adults">
                            <input type="text" name="adults" id="adults" value="{{booking.total_guest}}" class=" qty form-control" placeholder="0" required readonly>
                            <input type="button" value="+" class="qtyplus" name="adults" onclick="window.myfun()">
                        </div>
                    </div>
                    <div id="pricedetails" {% if booking.total_rooms == '' %} style="display: block;" {% else %} style="display: none;" {% endif %}>
                        <div class="form-group">
                            <h3 for=""  >Rooms: <span id="roomscount" style="color: red;">{{booking.total_rooms}}</span></h3>
                        
                        </div>
                        <div class="form-group">
                            <h3 for=""  >Days: <span id="totalDays" style="color: red;">{{date.days}}</span></h3>
                        
                        </div>
                        <div class="form-group">
                            <h3 for=""  >Total Price: <span id="roomsprice" style="color: red;">{{booking.total_price}}</span></h3>
                        
                        </div>
                `   </div>
                    <div>
                        <button  style="display: none;" type='button' id="vj" onclick="window.mytest()" class="btn btn-lg btn-primary">check availability</button> 
     
                        <input type="hidden" id="continue" class="btn btn-lg btn-danger" value="CONTINUE BOOKING" >
                      <!-- <button type="submit" class="btn btn-lg btn-danger">CONTINUE BOOKING</button> -->
                    </div>
                    {%for message in messages %}
                    <div class="alert alert-danger" id="mes" role="alert">
                        {{message}}
                      </div>
                    {%endfor%}
                </form>
                </div>
              
            </div>
				
		

            
            
        </div><!-- End row -->        
    </div><!-- End container -->
    
    <section class="promo_full">
    <div class="promo_full_wp">
        <div>
            <h3>What Clients say<span>Id tale utinam ius, an mei omnium recusabo iracundia.</span></h3>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="carousel_testimonials">
                        
                            <div>
                                <div class="box_overlay">
                                    <div class="pic">
                                        <figure><img src="static/user/hotel_view/img/testimonial_1.jpg" alt="" class="img-circle"></figure>
                                        <h4>Roberta<small>12 October 2015</small></h4>
                                    </div>
                                    <div class="comment">
                                        "Mea ad postea meliore fuisset. Timeam repudiare id eum, ex paulo dictas elaboraret sed, mel cu unum nostrud. No nam indoctum accommodare, vix ei discere civibus philosophia. Vis ea dicant diceret ocurreret."
                                    </div>
                                </div><!-- End box_overlay -->
                            </div>
                            
                            <div>
                                <div class="box_overlay">
                                    <div class="pic">
                                        <figure><img src="static/user/hotel_view/img/testimonial_1.jpg" alt="" class="img-circle"></figure>
                                        <h4>Roberta<small>12 October 2015</small></h4>
                                    </div>
                                    <div class="comment">
                                        "Mea ad postea meliore fuisset. Timeam repudiare id eum, ex paulo dictas elaboraret sed, mel cu unum nostrud. No nam indoctum accommodare, vix ei discere civibus philosophia. Vis ea dicant diceret ocurreret."
                                    </div>
                                </div><!-- End box_overlay -->
                            </div>
                            
                            <div>
                                <div class="box_overlay">
                                    <div class="pic">
                                        <figure><img src="static/user/hotel_view/img/testimonial_1.jpg" alt="" class="img-circle"></figure>
                                        <h4>Roberta<small>12 October 2015</small></h4>
                                    </div>
                                    <div class="comment">
                                        "Mea ad postea meliore fuisset. Timeam repudiare id eum, ex paulo dictas elaboraret sed, mel cu unum nostrud. No nam indoctum accommodare, vix ei discere civibus philosophia. Vis ea dicant diceret ocurreret."
                                    </div>
                                </div><!-- End box_overlay -->
                            </div>
                            
                        </div><!-- End carousel_testimonials -->
                    </div><!-- End col-md-8 -->
                </div><!-- End row -->
            </div><!-- End container -->
        </div><!-- End promo_full_wp -->
    </div><!-- End promo_full -->
    </section><!-- End section -->    
</div>
    <div id="dtBox"></div><!-- End datepicker -->
    
    <!-- End footer -->

<div id="toTop"></div><!-- Back to top button -->
<script>
    $('.alert').delay(3000).fadeOut('slow');

</script>

<script>
    $(function() {
    $( "#checkin" ).datepicker({minDate : 0, dateFormat: 'mm-dd-yy'});
    $("#checkout").attr("disabled", "disabled");
    $( "#checkout" ).datepicker({minDate:0, dateFormat: 'mm-dd-yy'});
    
$( "#checkin" ).on("change",function(){
        onCheckin();
        
     });
    
 });
 
  function onCheckin(){
  if($("#checkin").val() !== ""){
    $("#checkout").removeAttr("disabled");
    var dateMin = $('#checkin').datepicker("getDate");
        var rMin = new Date(dateMin.getFullYear(), dateMin.getMonth(), dateMin.getDate() + 1);
    $("#checkout").datepicker('option', 'minDate', new Date(rMin));
  }else{
  $("#checkout").val("");
  $("#checkout").attr("disabled", "disabled");
  }
  }


</script>



<!-- main scripts -->
<script src="{% static 'user/hotel_view/js/main.js' %}"></script>
<!-- COMMON SCRIPTS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.min.js" integrity="sha512-bztGAvCE/3+a1Oh0gUro7BHukf6v7zpzrAb3ReWAVrt+bVNNphcl2tDTKCBr5zk7iEDmQ2Bv401fX3jeVXGIcA==" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.js" integrity="sha512-4WpSQe8XU6Djt8IPJMGD9Xx9KuYsVCEeitZfMhPi8xdYlVA5hzRitm0Nt1g2AZFS136s29Nq4E4NVvouVAVrBw==" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="{% static 'user/hotel_view/js/jquery-1.11.2.min.js'%}"></script>
<script src="{% static 'user/hotel_view/js/common_scripts_min.js'%}"></script>
<script src="{% static 'user/hotel_view/assets/validate.js'%}"></script>
<script src="{% static 'user/hotel_view/js/functions.js'%}"></script>

<script type="text/javascript" src="{% static 'user/hotel_view/js/DateTimePicker.js'%}"></script>

<!-- alert box boldin -->

<script src="https://rawgithub.com/davidkonrad/toUnicodeVariant/master/toUnicodeVariant.js"></script>


<!-- <script type="text/javascript">$("#dtBox").DateTimePicker();</script> -->
{%endblock%}
